*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#content{
    padding: 5%;
    background-color: rgb(12, 59, 46);
    color: white;
}
h1{
    font-size: 50px;
    margin-bottom: 40px;

}
h2{
    margin-bottom: 120px;
    font-weight: 150;
}
button{
    margin-top: 60px;
    padding: 15px;
    border: none;
    background-color: #FFBA00;
    font-weight: bolder;
    border-radius: 30px;
}
button:hover{
    color:#FFBA00;
    background-color: black;
    display: inline;
}
figure{
    width: 50%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}