*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}
#container{
    display: flex;
    justify-content: space-between;
}
#content{
    background-color: #6D9773;
    color: aliceblue;
    padding: 5%;
}
#headings{
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 55px;
    display: flex;
}
h2{
    font-weight: 300;
    display: flex;
}
img{
    height: 310px;
    width: 100%;
    margin-top: 20px;
}